@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

/*
DESIGN INSPIRATION:
1. COLORS HAVE BEEN CHOSEN FROM OPEN SOURCE PROJECT
https://github.com/joshdick/onedark.vim
2. I HAVE BEEN INSPIRED BY YOUTUBER https://distrotube.com/

DUE CREDITS TO THEM
 */

.div-only-mobile {
  display: none;
}

.div-no-mobile {
}

@media screen and (max-width: 849px) {
  .div-no-mobile {
    display:none;
  }
  .div-only-mobile {
    display: block;
  }
}

.line {
  overflow: hidden;
  position: relative;
}

.sm-icon {
  padding: 0.5em;
}

.line::after {
  content: '';
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid gray;
  position: absolute;
  bottom: 0.5em;
  margin-left: 0.5em;
}

.btn {
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #282c34;
  margin: 0 auto;
  background-color: #61afef;
  font-size: 0.875em;
  line-height: 1.375px;
  font-weight: bolder;
  font-family: "Roboto Mono";
}

.toggleButtonDar {
  background-color: #282c34 !important;
  color: #e5c07b !important;
}

.toggleButtonLig {
  background-color: #e5c07b !important;
  color: #282c34 !important;
}

body {
  background-color: #282c34;
  color: #abb2bf;
  font-family: "Roboto Mono";
  font-size: 0.875em;
  line-height: 1.375em;
  margin: 0 auto;
  max-width: min(100%, 70em);
  padding-bottom: 1em;
  padding-top: 1em;
}

::-webkit-scrollbar {
  display: none;
}

pre {
  color: #e5c07b;
  word-wrap: break-word;
  white-space: pre;
  white-space: -moz-pre-wrap; 
  white-space: pre-wrap;
  white-space: pre\9;
}

blockquote {
  color: #e5c07b;
}

a {
  color: #c678dd;
  text-decoration: none;
}

a:hover {
  color: #61afef;
}

h1 {
  color: #e06c75;
  margin-bottom: 0px;
}

h2 {
  color: #61afef;
  margin-bottom: 0px;
}

h3, h4, h5, h6 {
  color: #56b6c2;
  margin-bottom: 0px;
}

p {
  padding: 0px;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
