@import url('https://fonts.googleapppppis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

/*
DESIGN INSPIRATION:
1. COLORS HAVE BEEN CHOSEN FROM OPEN SOURCE PROJECT
https://github.com/joshdick/onedark.vim
2. I HAVE BEEN INSPIRED BY YOUTUBER https://distrotube.com/

DUE CREDITS TO THEM
 */

.footer {
    background-color: black;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 0;
}

.div-only-mobile {
    display: none;
}

.div-no-mobile {}

@media screen and (max-width: 849px) {
    .div-no-mobile {
        display: none;
    }
    .div-only-mobile {
        display: block;
    }
}

.line {
    overflow: hidden;
    position: relative;
}

.sm-icon {
    padding: 0.5em;
}

.name-of-blog {
    padding-left: 0.4em;
    /* LEFT WITH INTENTION OF FUTURE IDEAS ABOUT DESIGN  */
}

.line::after {
    content: '';
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid gray;
    position: absolute;
    bottom: 0.5em;
    margin-left: 0.5em;
}

.btn {
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #282c34;
    margin: 0 auto;
    background-color: #61afef;
    font-size: 17px;
    line-height: 30.5px;
    font-weight: bolder;
    font-family: Tahoma, Geneva, sans-serif;
}

.toggleButtonDar {
    background-color: #282c34 !important;
    color: #e5c07b !important;
}

.toggleButtonLig {
    background-color: #e5c07b !important;
    color: #282c34 !important;
}

body {
    min-height: 100vh;
    margin: 0;
    position: relative;
    background-color: #282c34;
    position: relative;
    color: #abb2bf;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 17px;
    line-height: 30.5px;
    margin: 0 auto;
}

body::after {
    content: '';
    display: block;
    height: 50px;
    /* Set same as footer's height */
}

.Non-footer-stuff {
    background-color: #282c34;
    color: #abb2bf;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 17px;
    line-height: 30.5px;
    margin: 0 auto;
    max-width: min(100%, 52em);
    padding-bottom: 1em;
    padding-top: 1em;
}

::-webkit-scrollbar {
    display: none;
}

pre {
    color: #e5c07b;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 17px;
    line-height: 30.5px;
    word-wrap: break-word;
    white-space: pre;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    white-space: pre\9;
}

blockquote {
    color: #e5c07b;
}

a {
    color: #c678dd;
    text-decoration: none;
}


/* ALTERNATIVE TO TRADITIONAL hr */

.horizontal-rule {
    border-top: 0.1em solid;
}

a:hover {
    color: #61afef;
}

h1 {
    color: #e06c75;
    margin-bottom: 0px;
}

h2 {
    color: #61afef;
    margin-bottom: 0px;
}

h3,
h4,
h5,
h6 {
    color: #56b6c2;
    margin-bottom: 0px;
}

p {
    /* padding: 0px; */
    /* margin: 0px; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}