@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');

/*
	DESIGN INSPIRATION:
		1. COLORS HAVE BEEN CHOSEN FROM OPEN SOURCE PROJECT
			https://github.com/joshdick/onedark.vim
		2. I HAVE BEEN INSPIRED BY YOUTUBER https://distrotube.com/

	DUE CREDITS TO THEM
*/

.btn {
	border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #282c34;
    margin: 0 auto;
	background-color: #61afef;
	font-size: 0.875em;
    line-height: 1.375px;
	font-weight: bolder;
    font-family: "Roboto Mono";
}

body {
    padding: 1.25em;
    background-color: #282c34;
    color: #abb2bf;
    font-family: "Roboto Mono";
    font-size: 0.875em;
    line-height: 1.375em;
    margin: 0 auto;
    max-width: 60em;
}

::-webkit-scrollbar {
  display: none;
}

pre {
    color: #e5c07b;
}

blockquote {
    color: #e5c07b;
}

a {
    color: #c678dd;
    text-decoration: none;
}

li {
    color: #98c379;
}

a:hover {
    color: #61afef;
}

h1 {
    color: #e06c75;
    margin-bottom: 0px;
}

h2 {
    color: #61afef;
    margin-bottom: 0px;
}

h3, h4, h5, h6 {
	color: #56b6c2;
	margin-bottom: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
